<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="EssayAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<EssayAssistant.Properties.Settings>
   <setting name="FormStartPosition" serializeAs="String">
    <value>CenterParent</value>
   </setting>
   <setting name="FormFont" serializeAs="String">
    <value>Microsoft Sans Serif, 8.25pt</value>
   </setting>
   <setting name="FormAutoScaleMode" serializeAs="String">
    <value>Font</value>
   </setting>
   <setting name="OpenFileDialogFilterFigures" serializeAs="String">
    <value>所有图片|*.emf;*.wmf;*.jpg;*.jpeg;*.jfif;*.jpe;*.png;*.bmp;*.dib;*.rle;*.gif;*.emz;*.wmz;*.tif;*.tiff|Windows增强型图元文件|*.emf|Windows图元文件|*.wmf|JPEG文件交换格式|*.jpg;*.jpeg;*.jfif;*.jpe|可移植网络图形|*.png|Windows位图|*.bmp;*.dib;*.rle|图形交换格式|*.gif|压缩式Windows增强型图元文件|*.emz|压缩式Windows图元文件|*.wmz|Tag图像文件格式|*.tif;*.tiff</value>
   </setting>
  </EssayAssistant.Properties.Settings>
	</applicationSettings>
</configuration>